<html ng-app="pokemonApp">

<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body ng-controller="MainCtrl">

    <h1>List of All Pokemon</h1>
    <div>
        <input class="pokemon input" type="text" placeholder="Search Pokemon" ng-model="pokemonList">
        </input>
    </div>
    <div class="pokemon" ng-repeat="name in pokemon | filter: pokemonList">
        {{name.name}}
    </div>









    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="controller.js"></script>
    <script src="service.js"></script>
</body>

</html>